
/* font-family: Carter_One */
@font-face {
    font-family: Carter_One;
    src: url('../fonts/Carter_One/CarterOne-Regular.ttf');
}

/* font-family: Josefin */
@font-face {
    font-family: Josefin_Sans;
    src: url('../fonts/Josefin_Sans-Italic-VariableFont_wght.ttf');
}

/* font-family: Livvic */
@font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic-Black.ttf');
}

/* font-family: Roboto */
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf');
}