@import url("../css/fonts.css");

* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/*html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  /*background-color: #f8f9fa;
  /*background-color:  #6e6e6e;*/
  /*background:linear-gradient(to right, #BFFFC7, #4BC0C8, #23494A);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
ul,
ol,
dl {
  margin: 20px 0;
}

.text-center {
  text-align: center !important;
}

.header {
  margin: 0;
}*/

:root {
  /* Theme Colors */

  --evergreen: #38855d;
  --text-gray: #112d60;
  --text-light: #686666da;
  --bg-color: #0e3746;
  --white: #fffaf2;
  --midnight: #104f55;

  /* gradient color; */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* theme font-family */
  --Carter_One: "Carter_One", Cursive;
  --Josefin_Sans: "Josefin", Cursive;
  --Livvic: "Livvic", Cursive;
  --Roboto: "Roboto", Cursive;
  --Lexend: "Lexend_Zetta", Cursive;
}

/*---------------- Global Classes -------------------*/

a {
  text-decoration: none;
  color: var(--text-gray);
  font-family: var(--Carter_One);
}

a:hover {
  color: var(--midnight);
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Carter_One);
  font-size: 3.5rem;
}

h2 {
  font-family: var(--Livvic);
  font-size: 2.5rem;
}

h3 {
  font-family: var(--Roboto);
  font-size: 1.3rem;
}

p {
    font-size: 17px;
    text-align: center;
    line-height: 25px;
    justify-content: space-around;
}

span {
  font-family: var(--Livvic);
}

span {
  font-family: var(--Roboto);
}

.mt-5{
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    font-size: 10px;
    padding-top: 10px;
}
/*--------/------- Global Classes --------/----------*/

/*------------------  Google Maps API --------------------*/

#map {
  height: 100vh;
}

/*---------------- Navbar -------------------*/

.nav {
  background: #f1f1f1;
  padding: 0 2rem;
  height: 6rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
  position: left;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

  .nav .toggle-collapse {
    display: initial;
  }

.collapse {
  height: 20rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
  position: initial;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Livvic);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: #a1c4cf;
}

/*--------\-------- Navbar ---------\---------*/

/*---------------- Main Section -------------------*/

/*---------------- Site Title -----------------*/

main .site-title {
  background: url("../assets/surface.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1,
h3 {
  margin: 3rem;
  padding-bottom: 4rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: white;
}
/*---------------- Site Title -----------------*/

/*---------------- Review Carousel ------------*/



.box{
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 10px;
}

.swipe-right {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    
}
.fas {
    display: table-cell;
}

.fas .fa-angle-double-left {
    float: left;
}



.carousel-inner{
    height: 300px;
}

.owl-theme {
  padding: 2rem 0;
}


.owl-carousel span {
  display: block;
}


.owl-carousel__nav > div {
    border: none;
    border-radius: 55%;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 8px 15px;
    margin-left: 5px;
    margin: 4px 2;
    cursor: progress;
    background: var(--sky);
    font-family: var(--Livvic);
    font-weight: 600;
    font-size: 1rem;
}

.owl-carousel-text {
  color:#ffffff;
  font-size:24px;
  margin-left:10%;
  margin-right:10%;
  font-weight:500;
  margin-bottom:50px;
}




#myBtn {
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--Livvic);
  cursor: progress;
  margin-bottom: 5px;
}

.btn-success {
font-weight: bold;
border-radius: 23px;
width: 160px;
background-color: #1d266a;
border-color: #1d266a;
box-shadow: 0 0 0 0.2rem rgb(29, 38, 106,0.5);
border-style: none;
color: whitesmoke;
}





.col{
    flex-basis: 0;
    flex-grow: 1;  
}

.col-md-6 h1 {
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

.col-md-4 {	
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

.col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

.owl-carousel img {
  height: auto;
  width:  auto;
  max-width: 35%; 
  


  padding: 5%;
  box-shadow: 0 7px 10px rgb(0, 0, 0, 0.2);
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.h4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  font-size: 5vw;
  margin: 50;
  font-family: var(--Josefin_Sans);
  font-weight: 700;
  margin-top: 60%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 25rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--text-gray);
  size: 10%;
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}

.owl-carousel .item {
  height: 10rem;
  background: #4dc7a0;
  padding: 1rem;
}

.owl-carousel__nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.owl-carousel__nav > div {
  border: none;
  border-radius: 2rem;
  color: #fff;
  padding: 8px 15px;
  margin-left: 5px;
margin: 0.5rem;
  cursor: progress;
  background: var(--sky);
  font-family: var(--Livvic);
  font-weight: 600; 
  font-size: 1rem;  
}

.owl-carousel__nav > div:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f8f9fa;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*----------\------ Review Carousel -------\-----*/

/*---------\------- Main Section --------\-----------*/

.container {
  background-color: #e7feff;
}

.form-signin {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: var(--Carter_One)
  
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background {
    width:100%;
    height: 140px;
    position: relative;

}

#site-footer {
    position:absolute;
    bottom: 0px;
    height: 0px;
    width: 100%;
    color: #fff;


}
/*----------------- Viewport less than or equal to 750px -------------------*/

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

/*----------/------- Viewport less than or equal to 750px -------/------------*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen 
   and (max-width : 360px) 
   and (max-height : 598px) {

       .owl-carousel .owl-theme {
       font-size: 3.5rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
       }

@media (max-width: 575.98px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


@media only screen 
   and (max-width : 640px) 
   and (max-height : 1136px) {
  .owl-carousel .owl-theme {
       font-size: 3.5rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
}
   }

#your-custom-id p { 
    margin: 0!important; 
    line-height: 40px; 
    }
    
@media only screen and (min-width: 767px) {
#your-unique-id .av_one_half:nth-child(1) {
    margin-left: 0!important;
}    

}

#your-unique-id .av_one_half {
    margin-left: 1%!important;
    width: 49%!important;
    }


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */

}
   